#skills {
    // background: $gradient-1;

    h2{
        transform: translateX(-100%);
        opacity: 0;
        transition: all .3s $ease;
    }
    
    .skills-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        opacity: 0;
        transition: all .5s $ease;

        .skill-item-wrapper {
            text-align: center;
        }
        &:hover p {
            opacity: 1;
        }
    }

    &.animate {

        h2{
            transform: translateX(0);
            opacity: 1;
        }

        .skills-grid{
            opacity: 1;
        }
    }
}