body {
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    background-color: rgb(255, 246, 229);
    overflow-y: hidden;
    height: 100vh;
}

h1 {
    text-align: center;
}

li button {
    margin-left: 10px;
    cursor: pointer;
}

li {
    cursor: pointer;
}

select,
button {
    cursor: pointer;
}

select,
input,
button {
    font-family: 'Satisfy', cursive;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid grey;
}

.container form{
    padding: 20px;
}
.done {
    text-decoration: line-through;
}

.todo-filter {
    padding: 1em;
    background-color: rgb(234, 216, 180);

}

.stat {
    padding: 0.75em 1em;
    background-color: rgb(234, 216, 180);
    margin-bottom: 10px;
}

.container {
    width: 50%;
    margin: 140px auto;
    background-color: rgb(219, 203, 174);
    padding: 20px;
}

.todo-item-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.todo-item-content {
    width: 30%;
}

.container button:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    box-shadow: 2px 2px 5px grey;
    cursor: pointer;
}

.todo-item-container button {
    font-weight: bold;
    color: grey;
}